@font-face {
  font-family: 'devolon';
  src:  url('fonts/devolon.eot?cl8kvy');
  src:  url('fonts/devolon.eot?cl8kvy#iefix') format('embedded-opentype'),
    url('fonts/devolon.ttf?cl8kvy') format('truetype'),
    url('fonts/devolon.woff?cl8kvy') format('woff'),
    url('fonts/devolon.svg?cl8kvy#devolon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fi-"], [class*=" fi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'devolon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-images:before {
  content: "\e90e";
}
.fi-spinner:before {
  content: "\e983";
}
.fi-menu:before {
  content: "\e9bd";
}
